<div class="todo-view" xmlns="http://www.w3.org/1999/html">
  <span>{{input type="checkbox" id=view.id checked=view.todo.completed}}<label {{bind-attr for="view.id"}}></label></span>
  <span {{bind-attr class="view.contentClass"}}>{{view.todo.content}}</span>

  <span class="todo-delete"><button {{action "deleteTodo" view.todo}}><img src="assets/todos/delete.png"></button></span>
</div>